<div ng-controller="MessagingController">

	<div class="row" style="padding-top: 1%; padding-left: 93%;">
		<button class="btn btn-danger" type="button" ng-click="logout()">LOG OUT</button>
	</div>

	<div class="row " style="padding-top: 2%;">
		<div class="col-md-8">
			<div class="panel panel-info">
				<div class="panel-heading" ng-if="currentChatUser != null">{{currentChatUser.username}}</div>
				<div class="panel-heading" ng-if="currentChatUser == null">Public Chat Room</div>
				
				<div class="panel-body">
					<ul class="media-list">

						<li class="media" ng-repeat="message in currentMessages">

							<div class="media-body">

								<div class="media">
									<a class="pull-left" href="#"> <img
										class="media-object img-circle " src="assets/img/user.png" />
									</a>
									<div class="media-body">
										{{message.content}} <br /> <small
											class="text-muted">{{message.from.username}} | {{message.date}}</small>
										<hr />
									</div>
								</div>

							</div>
						</li>
					</ul>
				</div>
				<div class="panel-footer">
					<div class="input-group">
						<input type="text" class="form-control"
							placeholder="Enter Message" ng-model="messageContent" /> <span class="input-group-btn">
							<button class="btn btn-info" type="button" ng-click="sendMessage(messageContent)">SEND</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">ONLINE USERS</div>
				<div class="panel-body">
					<ul class="media-list">

						<li class="media"  ng-repeat="onlineUser in onlineUsers">

							<div class="media-body">

								<div class="media">
									<a class="pull-left" href="#"> <img
										class="media-object img-circle" style="max-height: 40px;"
										src="assets/img/user.png" />
									</a>
									<div class="media-body">
										<a href ng-click="switchUser(onlineUser)" role="button">{{onlineUser.username}}</a> <small class="text-muted">Active
											From 3 hours</small>
									</div>
								</div>

							</div>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>